html
{
  scroll-behavior: smooth;
}

body
 {
  background: #9BB7D4;
  font-family: "Baloo Tamma 2", cursive;
}


.m-heading 
{
  font-family: "Roboto Slab", serif;
}


.navigation-link
 {
  border: 2px solid transparent;
 }

.navigation-link:hover {
  text-decoration: none;
  border-bottom: 2px solid blue;
  transition: 0.5s ease;
}


.main-container 
{
  height: 100vh;
}


.main_row {
  display: flex;
  justify-content: center;
  align-items: center;
}


.main_row h1 {
  font-size: 5rem;
}


.main_row img {
  width: auto;
  height: 100vh;
}

.about {
  background: #3d658f;
  border-radius: 0.5rem;
}

.card {
   border-bottom: 8px solid blue;
}

#social-media {
  background: #3d658f;
}


.media_link {
  padding: 1rem;
  max-width: 15rem;
  margin-left: 1rem;
  border: 2px solid skyblue;
  border-radius: 0.5rem;
}
